body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.pictogram {
    margin-top: 20px;
}

h2 {
    color: #555;
    margin-bottom: 10px;
}

.bar {
    display: flex;
    align-items: flex-end; /* Alinear los iconos en la parte inferior */
    margin-bottom: 20px;
}

.icon-img {
    width: 30px; /* Tamaño de las imágenes */
    height: 30px;
    margin: 2px; /* Espacio entre iconos */
}