@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #675741;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #CCC5B7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.content {
    display: flex;
    padding: 20px;
}

.content .text {
    flex: 1;
    padding-right: 20px;
}

.content .image {
    flex: 1;
}

.content .image img {
    max-width: 100%;
    height: auto;
}

.section {
    display: none;
    padding: 20px;
}

.container {
    padding: 20px;
    margin-bottom: 10px;
    color: #CCC5B7;
    font-weight: bold;
}

#container1 {
    background-color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif; /* Tipografía */
    color: #675741; /* Color de la letra */
    text-align: center; /* Alineación del texto */
    font-size: 18px; /* Tamaño de la letra */
    font-weight: 700;
}

#container2 {
    background-color: #CCC5B7;
    font-family: 'Plus Jakarta Sans', sans-serif; /* Tipografía */
    color: #675741; /* Color de la letra */
    text-align: center; /* Alineación del texto */
    font-size: 18px; /* Tamaño de la letra */
    font-weight: 700;
}

#container3 {
    background-color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif; /* Tipografía */
    color: #675741; /* Color de la letra */
    text-align: center; /* Alineación del texto */
    font-size: 18px; /* Tamaño de la letra */
    font-weight: 700;
}

#container4 {
    background-color: #CCC5B7;
    font-family: 'Plus Jakarta Sans', sans-serif; /* Tipografía */
    color: #675741; /* Color de la letra */
    text-align: center; /* Alineación del texto */
    font-size: 18px; /* Tamaño de la letra */
    font-weight: 700;
}

.buttons {
    margin-bottom: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.analysis-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.analysis {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 100px;
    text-align: center;
    border-radius: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    margin-bottom: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #d3c4b1; /* Color de fondo */
    padding: 10px;
}

.menu-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #6b5b4b;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
}

.menu-button:hover {
    color: #000;
}

.menu-button.active {
    color: #000;
    border-bottom: 2px solid 
}